<ol class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
	{% for item in breadcrumbs_items %}
		<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			{% if item.link is empty %}
				<span itemscope itemtype="http://schema.org/Thing" itemprop="item">
					<span itemprop="name">{{ item.title }}</span>
				</span>
			{% elseif 'TOP' == item.title %}
				<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{{ item.link }}">
					<span itemprop="name"><span class="icon-home"></span></span>
				</a>
			{% else %}
				<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{{ item.link }}">
					<span itemprop="name">{{ item.title }}</span>
				</a>
			{% endif %}
			<meta itemprop="position" content="{{ loop.index }}>" />
		</li>
	{% endfor %}
</ol>
